@use "../../../assets/styles/_mixins.scss" as *;
// Recommeded Section

.Recommeded-section {
  background: #e5f4ff;
  padding: 3rem 0;

  @include break(lg) {
    padding: 7rem 0;
  }

  .controls {
    button {
      --size: 40px;
      height: var(--size);
      width: var(--size);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: #fff;

      @include break(lg) {
        --size: 40px;
      }

      img {
        --size: 20px;
        height: var(--size);
        width: var(--size);

        @include break(lg) {
          --size: 24px;
        }
      }
    }
  }

  .title-text {
    font-size: 18px;
    font-weight: 600;
    color: #1e3f6d;

    @include break(lg) {
      font-size: 32px;
    }
  }

  .Recommended-slider {
    .slick-slide {
      height: inherit !important;
      & > div {
        height: 100%;
      }
    }

    .slick-track {
      display: flex !important;
    }

    .slick-dots {
      padding: 0;
      list-style: none;
      font-size: 0;
      display: flex !important;
      justify-content: center;
      align-items: center;
      margin-top: 40px;

      li + li {
        margin-left: 1rem;
      }

      li {
        button {
          background: #cfcfcf;
          --size: 8px;
          height: var(--size);
          width: var(--size);
          border-radius: 50%;
          border: none;
          outline: none;
        }

        &.slick-active {
          button {
            --size: 12px;
            background: #1a3e6d;
          }
        }
      }
    }

    .slider-block {
      height: 100%;

      .cardbox {
        padding: 20px 20px;
        margin: 0 1rem;
        background: linear-gradient(340.78deg, #4aaac1 2.17%, #206f82 114.02%);
        border-radius: 12.9221px;
        height: 100%;

        .card-img-top {
          width: 120px;
          height: 120px;
        }

        .card-body {
          padding: 0px;
          .card-title {
            @include title(24px, 36px, normal, #fff);
            padding-top: 20px;
          }

          .card-text {
            @include title(13px, 19px, normal, #fff);
            padding-top: 10px;
            min-height: 80px;
          }

          .recommended-btn {
            font-size: 14px;
            line-height: 24px;
            //   background: $darkblue;
            background: #1e3f6d;
            box-shadow: 0px 6px 12px -4px rgba(0, 82, 103, 0.32);
            border-radius: 28px;
            padding: 10px 20px;
            margin-bottom: 15px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
