@use "mixins" as *;

@use "webapp-variables";

// Products Section
.products-container {
  padding: 0px 40px;
  .products-section {
    background: $powderblue;
    border-radius: 16px;
    padding-bottom: 60px;
    padding-top: 60px;
    .title-row {
      padding-bottom: 0px;
      .title-text {
        @include title(32px, 48px, 600, $darkblue);
      }
    }
    .explore-btn {
      @include buttons(17px, 600, $lightwhite, $darkblue, 28px);
      padding: 15px 32px;
      box-shadow: 0px 8px 16px -6px rgba(0, 82, 103, 0.32);
    }
    .col-sm-15 {
      flex: 0 0 auto;
      width: 20%;
    }
    .products-box {
      margin-top: 40px;
      position: relative;
      .products-detail {
        background: #ffffff;
        padding: 36px 15px;
        border-radius: 15px;
        filter: drop-shadow(0px 37px 29px rgba(213, 213, 213, 0.2));
        .comingsoon-img {
          position: absolute;
          top: 8px;
          right: 0px;
          width: 90px;
        }
        .product-img {
          width: 60px;
          height: 60px;
          margin-top: 8px;
        }
        .products-category {
          color: $lightblue;
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
          text-transform: uppercase;
          padding: 15px 0px 0px 0px;
          margin-bottom: 0px;
        }
      }
    }
  }
}

// Services Section
.services-section {
  .title-text {
    @include title(32px, 40px, 600, $darkblue);
    padding-bottom: 30px;
  }
  .services-detail {
    display: block;
    margin-bottom: 60px;
    .services-title {
      @include title(18px, 27px, 600, $darkblue);
    }
    .services-description {
      @include title(16px, 27px, normal, $lightgray);
      display: block;
      padding-top: 5px;
      padding-bottom: 8px;
    }
    .services-link {
      @include title(17px, 24px, normal, $darkblue);
    }
  }
}

// User Saying Section
.Users-section {
  .title-row {
    .title-text {
      @include title(32px, 40px, 600, $darkblue);
    }
  }
  .react-multi-carousel-list {
    margin-top: -86px;
  }
  .react-multi-carousel-track {
    padding-top: 105px;
  }
  .users-slider {
    .users-block {
      background: #f5e2ba;
      border-radius: 16px;
      padding: 30px 36px;
      .saying {
        font-size: 14px;
        line-height: 30px;
        font-weight: 500;
        color: $darkgray;
      }
      .user-information {
        padding-top: 50px;
        .user-detail {
          padding-left: 15px;
          .user-name {
            font-size: 14px;
            line-height: 21px;
            font-weight: bold;
            margin-bottom: 5px;
          }
          .user-position {
            font-size: 14px;
            line-height: 21px;
            font-weight: normal;
          }
        }
      }
    }

    .InfiniteCarouselArrowNext,
    .react-multiple-carousel__arrow--right {
      right: 112px;
      top: 2px;
      background: $powderblue;
      min-width: 46px;
      min-height: 46px;
      border-radius: 35px;
      i {
        display: none;
      }
    }
    .InfiniteCarouselArrowNext::before,
    .react-multiple-carousel__arrow--right::before {
      content: "";
      background-image: url("../images/nextarrow.png");
      position: absolute;
      top: 10px;
      right: 9px;
      width: 25px;
      height: 19px;
      background-repeat: no-repeat;
      display: block;
      padding: 10px;
    }
    .InfiniteCarouselArrowPrev,
    .react-multiple-carousel__arrow--left {
      left: 80%;
      right: auto;
      top: 0;
      background: $powderblue;
      min-width: 46px;
      min-height: 46px;
      border-radius: 35px;
      i {
        display: none;
      }
    }
    .InfiniteCarouselArrowPrev::before,
    .react-multiple-carousel__arrow--left::before {
      content: "";
      background-image: url("../images/backarrow.png");
      position: absolute;
      top: 10px;
      right: 9px;
      width: 25px;
      height: 19px;
      background-repeat: no-repeat;
      display: block;
      padding: 10px;
    }
  }
}

// Retirment Section
.retirment-section {
  padding: 150px 0px;
  .retirement-container {
    background: linear-gradient(
      198deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(64, 156, 179, 1) 0%,
      rgba(44, 128, 148, 1) 52%
    );
    border-radius: 12px;
    padding: 60px 0px;
    position: relative;
    .retirment-row {
      overflow: hidden;
      .Curve-image {
        position: absolute;
        top: 0px;
        left: 0px;
      }
      .title-text {
        @include title(46px, 58px, 600, $white);
      }
      .download-application {
        margin-top: 40px;
        p {
          font-size: 18px;
          line-height: 27px;
          font-weight: normal;
          color: $white;
        }
        img {
          width: 136px;
          height: 45px;
          padding-right: 10px;
        }
      }
    }
    .plan-store-image {
      position: absolute;
      top: -83px;
      right: 80px;
      width: 480px;
      height: 540px;
    }
  }
}

// Faq Section
.faq-section {
  .title-text {
    @include title(36px, 54px, 600, $darkblue);
  }
  .accordion {
    border: none;
    .accordion-item {
      border: none;
    }
  }
  .accordion .accordion-item .title {
    position: relative;
  }
  .accordion .accordion-item .title:after {
    content: "";
    content: "";
    position: absolute;
    top: 7px;
    left: -27px;
    width: 10px;
    height: 10px;
    border-top: 3px solid $darkblue;
    border-right: 3px solid $darkblue;
    transform: rotate(45deg);
  }

  .accordion .accordion-item.active .title:after {
    content: "";
  }
  .accordion .accordion-item .title {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    margin-bottom: 8px;
    padding: 0px;
    color: $darkblue;
    background: transparent;
  }
  .accordion .accordion-item.active .title {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 27px;
    color: $brandblue;
    background: transparent;
  }
  .panel {
    p {
      font-size: 14px;
      line-height: 24px;
      color: $darkgray;
      padding-left: 0px;
    }
  }
}

.accordion-item {
  background-color: transparent;
}
.M_title {
  display: none;
}
@media only screen and (max-width: 767px) {
  .title {
    display: none;
  }
  .M_title {
    display: contents;
  }
  .prepare-retirement-section {
    .title-row {
      padding-bottom: 10px;
      .title-text {
        font-size: 18px;
        br {
          display: none;
        }
      }
    }
    .react-tabs__tab-list {
      .react-tabs__tab {
        font-size: 13px;
        line-height: 20px;
        padding: 13px 13px;
        .tab-image {
          width: 18px;
          height: 18px;
          margin-right: 19px;
        }
      }
    }
    .react-tabs__tab-panel {
      .preapre-image {
        height: 485px;
      }
    }
  }

  .retirment-section {
    .retirement-container {
      .plan-store-image {
        position: absolute;
        top: 79%;
        right: 20px;
        width: 121px;
        height: 168px;
      }
    }
  }
}

//gif
.gif-scrolltwo {
  bottom: 40px;
}

.gif_scroll {
  position: relative;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  img {
    width: 50px;
  }
  p {
    color: #ffffff;
    font-size: 12px;
  }
}

.slider-two {
  position: relative;
  .home-gif {
    position: absolute;
    left: 23%;
    top: 18%;
    width: 100px;
  }
}
