.signupmain{
    width:100%;
    height:100%;
    background: #E5E5E5;
}
.signleft{
    width:60%;
    float: left;
    background:#F2F3F7;
    padding:50px 50px;
    min-height:100vh;
    span{
        button{
            line-height:1;
            padding:0;
            font-size:1rem;
            text-transform: unset;
        }
    }
}
.signright{
    width:40%;
    background:#30609A;
    padding:50px 100px;
    float:right;
    min-height:100vh;
    h3{
        font-size:42px;
        color:#FFF;
        padding-top:50px;
        padding-bottom:50px;
        a{
            color:#53BCD4;
        }
    }
}
.Logo{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signuptitle {
    span{
        font-weight: bold;
        font-size: 20px;
        line-height: 36px;
        color: #1E3F6D;
    }
    p{
        color:#263238;
        font-size:20px;
    }
}

.resentotp{
    padding-top:30px;
    padding-bottom:30px;
    color:#005E9E;
    font-weight:500;
    a{
        font-size:16px;
        color:#005E9E;
    }
}
.subbtn{
    padding: 16px 32px;
    color:#FFF;
    background: #1A3E6D;
    box-shadow: 0px 8px 16px -6px rgba(0, 82, 103, 0.32);
    border-radius: 40px;
    border:none;
}

.setpassword{
    padding-top:28px;
    Label{
        color: #1A3E6D;
        font-weight: 600;
        font-size: 14px;
        line-height:10px;
        letter-spacing: 0.4px;
    }
    input[type='password']{
        background: #FFFFFF;
        border: 1px solid #D5D4DC;
        box-sizing: border-box;
        border-radius: 8px;
        color: #1A3E6D;
        outline:none;
        box-shadow:none;
        margin-bottom:16px;
    }
    .subbtn{
        margin-top:47px;
    }
}

.signupfrm{
    Label{
        color: #1A3E6D;
        font-weight: 600;
        font-size: 14px;
        line-height:10px;
        letter-spacing: 0.4px;
    }
    input[type='text'],
    input[type='number']{
        background: #FFFFFF;
        border: 1px solid #D5D4DC;
        box-sizing: border-box;
        border-radius: 8px;
        color: #1A3E6D;
        outline:none;
        box-shadow:none;
        margin-bottom:16px;
    }

    input[type='submit']{
        padding:12px 32px;
        color:#FFF;
        background: #1A3E6D;
        box-shadow: 0px 8px 16px -6px rgba(0, 82, 103, 0.32);
        border-radius: 40px;
        border:none;
        margin-top:40px;
        margin-bottom:20px;
    }
    a{
        color:#005e9e;
        font-weight:bold;
    }
}
.regalready{
    color: #5C616F;
    font-size:14px;
    font-weight:bold;
    a{
        color:#005e9e;
        margin: 0 0 0 4px;
    }
}

// Login
.loginfrm{
    .loginotptitle{
        h4{
            font-size:14px;
            font-weight:600;
            color:#1E3F6D;
            width:100%;
        }
    }
    Label{
        color: #10002E;
        font-weight: 600;
        font-size: 14px;
        line-height:10px;
        letter-spacing: 0.4px;
    }
    input[type='text'],
    input[type='number']{
        background: #FFFFFF;
        border: 1px solid #D5D4DC;
        box-sizing: border-box;
        border-radius: 8px;
        color: #10002E;
        outline:none;
        box-shadow:none;
    }

    .loginbtn{
        padding:12px 32px;
        color:#FFF;
        background: #1A3E6D;
        box-shadow: 0px 8px 16px -6px rgba(0, 82, 103, 0.32);
        border-radius: 40px;
        border:none;
        margin-top:30px;
        margin-bottom:20px;
    }
    a{
        color:#005E9E;
        font-size:12px;
        font-weight:bold;
    }
}

// Loading Page
.loadingbg{
    background: #E5E5E5;
    padding:50px;
    min-height:100vh;
    &::after, &::before{
        position:absolute;
        content: "";
        width:100%;
        height:100%;
    }
    &::after{
        background:url(../images/loadingtop.svg) top right;
        background-repeat: no-repeat;
        top: 0;
        right: 0;
    }
    &::before{
        background:url(../images/loadingbottom.svg) bottom left;
        background-repeat: no-repeat;
        bottom: 0;
        left:0;
    }

    .medialbox{
        z-index: 999;
        width: 300px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        img{
            // position: relative;
            // left: 70px;
        }
        span{
            width: 100%;
            display: inline-block;
            font-size: 18px;
            line-height: 32px;
            text-align: center;
            color: #263238;
            padding-top:30px;
            padding-bottom:14px;
        }
        a{
            color: #005E9E;
            font-size: 18px;
            line-height: 32px;
            text-align: center;
            width: 100%;
            display: inline-block;
        }
    }
}

.otpInput{
    margin-right: 1rem;
    input{
        width:75px !important;
        height:75px;
        padding: 0.5rem 0rem;
        outline: none;
        border-style: none;
        background: #FFFFFF;
        border: 1.29px solid #CDD4DB;
        box-shadow: 0px 10.32px 30.96px -7.74px rgba(0, 0, 0, 0.04);
        border-radius: 10.32px;
        color: #040C22;
        font-weight: normal;
        font-size: 31.28px;
    }
}
.BTN_intro{
    padding: 12px 32px;
    color: #FFF;
    background: #1A3E6D;
    box-shadow: 0px 8px 16px -6px (0 82 103 / 32%);
    border-radius: 40px;
    border: none;
    margin-top: 40px;
}
.reg_text{
    font-weight: 500;
    font-size: 14px;
    color: #5C616F;
}


.error_text{
    font-size: 1rem;
    color: red  ;
}


@media only screen and (max-width: 767px) {
    .signupmain{
        .signleft{
            width:100%;
            padding:50px 20px;
        }
    }
    .otpInput input{
        width: 100% !important;
        height: 100%;
    }
    .signright{
        display:none;
    }
    .signupfrm input[type='submit'], 
    .loginfrm .loginbtn,
    .subbtn{
        width:100%;
    }
    .signleft{
        background:$white;
    }
    .signleft .otpInput:last-child{
        margin-right:0;
    }
}
