@use "fonts";
// Color & Font-Family
@import "./webapp-variables";

//slider
@import "./Slider/SliderMain";

// Landing Page
@import "./Landing";
@import "./Landing-mobile";
@import "./SignInUp";

//Wellbing page
@import "./Wellbeing";
@import "./InvestDashboard";
@import "./plan";
@import "./dashbord";
@import "./Myaccount";
@import "./Service";

.desktopView {
  display: block;
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.mobileView {
  display: none;
  @media only screen and (max-width: 600px) {
    display: block;
  }
}

#timer {
  display: inline;
  padding: 5px;
  color: #004853;
  font-family: Verdana, sans-serif, Arial;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}
