//@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

// Color & Font-Family
@import './webapp-variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


// Common
@import './Mixin';

@import './error';
//slider
@import './Slider/SliderMain';
// Header
@import './Navbar';

// Landing Page
@import './Landing';
@import './Landing-mobile';
@import './SignInUp';


//Wellbing page
@import './Wellbeing';
@import './InvestDashboard';
@import './plan';
@import './Mailmverify';



.desktopView{
    display:block;
    @media only screen and (max-width: 600px) {
    display:none;
     }
}
.mobileView{
    display:none;
    @media only screen and (max-width: 600px) {
        display:block;
         }
}

#timer{
    display:inline;
    padding: 5px;
    color: #004853;
    font-family: Verdana, sans-serif, Arial;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}