.WB_headcard {
  background-image: url(../images/BG_wellbing.svg);
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .Hcard_text {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #fff;
    padding-left: 5rem;
  }
}
//base
.base_card_We {
  padding: 0rem 5rem;
  background-color: #f2f3f7;
  overflow-x: hidden;
}

//healthgoals
.pchealthgoals {
  .content_pchg {
    display: flex;
    justify-content: space-between;
    .PCHG_Left_card {
      background-color: #0063a1;
      color: #fff;
      border-radius: 14px;
      padding: 2rem 2.5rem;
      .head_text_div {
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
        width: max-content;
        h2 {
          font-weight: 600;
          font-size: 21px;
        }
      }
      p {
        margin-top: 0.75rem;
        font-size: 14px;
        line-height: 21px;
      }
    }
    .PCHG_Right_card {
      margin: 0rem 0rem;
      display: flex;
      gap: 2rem;
      padding-left: 50px;
      .card-HG {
        background-color: #fff;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        padding: 1rem 1.5rem;
        position: relative;
        display: flex;
        .data_card_HG {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          img {
            width: 35px;
          }
          p {
            font-weight: 500;
            font-size: 16px;
            color: #005e9e;
            margin-top: 10px;
          }
          .HG-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            background: #005e9e;
            box-shadow: 0px 4px 16px rgba(175, 175, 175, 0.25);
            border-radius: 45.3463px;
            font-weight: 600;
            font-size: 14px;
            margin-top: 2.5rem;
            padding: 0.3rem;
          }
        }
      }
    }
  }
}
.add_icon_main {
  justify-content: center !important;
  align-items: center !important;
  .add_icon {
    justify-content: center !important;
    align-items: center !important;
    .add_icon {
      width: 100px !important;
    }
  }
}
//mobile healthgoals
.mvhealthgoals {
  display: none;
  .top_hg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Mbtn {
      background: #ffffff;
      border: 1.88943px solid #005e9e;
      box-shadow: 0px 4px 16px rgba(175, 175, 175, 0.25);
      border-radius: 45.3463px;
      color: #005e9e;
      font-weight: 600;
      font-size: 14px;
      padding: 0.5rem 1rem;
    }
  }
  .MVHG_Left_card {
    background-color: #0063a1;
    color: #fff;
    border-radius: 14px;
    padding: 2rem 2.5rem;
    .head_text_div {
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
      width: max-content;
      h2 {
        font-weight: 600;
        font-size: 21px;
      }
    }
    p {
      margin-top: 0.75rem;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
.card-HG {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: #fff !important;
  border-radius: 10px;
  // margin-top: 1rem;
  div {
    img {
      width: 34px;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      color: #005e9e;
      margin-top: 10px;
    }
  }

  .HG-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #005e9e;
    box-shadow: 0px 4px 16px rgba(175, 175, 175, 0.25);
    border-radius: 45.3463px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 0.5rem;
    padding: 0.3rem;
  }
}
.close_icon {
  position: absolute;
  right: 20px;
  top: 20px;
}

//Health goal services css
.PCHS_Right_card {
  // display: flex;
  // gap: 1rem;
  .PCHS_Right_card::-webkit-scrollbar {
    display: none;
  }
  .HS_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .card_img {
      margin-bottom: 1rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .card_title {
      font-weight: 600;
      font-size: 24px;
      color: #292929;
      margin: 0;
      padding-left: 1rem;
    }
    .card_text {
      font-weight: 500;
      font-size: 18px;
      color: #292929;
      margin: 0;
      padding-left: 1rem;
    }
  }
}
.MVhelthservices {
  display: none;
  .head_text_div {
    img {
      width: 100%;
    }
  }
  .sliderCard-HS-MV {
    .HS_card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .card-HG .card_img {
        margin-bottom: 1rem;
      }
      .card_title {
        font-weight: 600;
        font-size: 14px;
        color: #292929;
        margin: 0;
        padding-top: 0.75rem;
      }
      .card_text {
        font-weight: 500;
        font-size: 14px;
        color: #292929;
        margin: 0;
        text-align: left;
        padding-top: 0.5rem;
      }
    }
  }
}

//HealthArticles page
.HealthArticlesPC {
  .HA_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .card_img {
      margin-bottom: 1rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .card_title {
      font-weight: 600;
      font-size: 24px;
      color: #292929;
      margin: 0;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      text-align: left;
    }
    .HA_readbtn {
      text-decoration: none;
      font-weight: 600;
      font-size: 20.4444px;
      color: #005e9e;
      padding-left: 0.8rem;
      margin-top: 2rem;
    }
  }
}
.HealthArticlesMV {
  .HA_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .card_img {
      margin-bottom: 1rem;
      // width: 435px;
      // height: 276px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .card_title {
      font-weight: 600;
      font-size: 15px;
      color: #292929;
      margin: 0;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      text-align: left;
    }
    .HA_readbtn {
      text-decoration: none;
      font-weight: 600;
      font-size: 13px;
      color: #005e9e;
      padding-left: 0.8rem;
      margin-top: 2rem;
    }
  }
}
//HealthScore css
.pchealthgoals_pc {
  height: max-content;
  width: 100%;
  .healthscore_card {
    background-image: url(../images/healthscore_card_bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .scroe_text {
      h1 {
        font-weight: bold;
        font-size: 71.096px;
        color: #16f6ff;
        margin-bottom: 0px;
      }
      .base-line {
        width: 50px;
        height: 1px;
        background-color: #fff;
        margin-left: 5px;
      }
      p {
        font-weight: 600;
        font-size: 21.8136px;
        color: #fff;
        margin-top: 10px;
      }
    }
    .mid_text {
      width: 80%;
      p {
        color: #fff;
        width: 30%;
        font-weight: normal;
        font-size: 16px;
      }
      .down_text {
        display: flex;
        gap: 2rem;
        .number_text {
          color: #fff;
          margin-top: 0.2rem;
          p {
            font-weight: bold;
            font-size: 30.1388px;
          }
          span {
            font-weight: normal;
            font-size: 20.6137px;
          }
        }
      }
    }
  }
}

.exclusivefeaturesPC {
  .exclusivefeaturesPC_slider_card {
    width: 100%;
    .text_div {
      width: 50%;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 3rem;
      left: 2rem;
      align-items: flex-start;
      .main_text {
        font-weight: 600;
        font-size: 26.8034px;
        line-height: 40px;
        color: #fff;
      }
      p {
        font-weight: normal;
        font-size: 13.4017px;
        line-height: 20px;
        color: #fff9f9;
        text-align: left;
      }
      .card_btn {
        background: #1a3e6d;
        box-shadow: 0px 5.9563px 11.9126px -4.46723px rgba(0, 82, 103, 0.32);
        border-radius: 28px;
        color: #fff;
        padding: 0.5rem 1rem;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
      }
    }

    .bg_img {
      top: 0;
      z-index: -1;
    }
  }
}

.exclusivefeaturesMV_slider_card {
  width: 100%;
  .text_div {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    left: 2rem;
    align-items: flex-start;
    .main_text {
      font-weight: 600;
      font-size: 26.8034px;
      line-height: 40px;
      color: #fff;
    }
    p {
      font-weight: normal;
      font-size: 13.4017px;
      line-height: 20px;
      color: #fff9f9;
      text-align: left;
    }
    .card_btn {
      background: #1a3e6d;
      box-shadow: 0px 5.9563px 11.9126px -4.46723px rgba(0, 82, 103, 0.32);
      border-radius: 28px;
      color: #fff;
      padding: 0.5rem 1rem;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .bg_img {
    top: 0;
    z-index: -1;
  }
}

.PhysicalWellbeingPC {
  .plancard_base {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    .plancard_iteam {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      background: linear-gradient(134.14deg, #1a3e6d 0.61%, #2d6fc6 101.43%);
      border-radius: 16px;
      .left_text_card {
        h4 {
          font-weight: 600;
          font-size: 36px;
          line-height: 54px;
          color: #fff;
        }
        p {
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
      }
      .right_text_card {
        h3 {
          font-weight: 600;
          font-size: 65.3684px;
          line-height: 79px;
          color: #fff;
        }
      }
    }
  }
}
.PhysicalWellbeingMV {
  .plancard_base {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    .plancard_iteam {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      background: linear-gradient(134.14deg, #1a3e6d 0.61%, #2d6fc6 101.43%);
      border-radius: 16px;
      .left_text_card {
        h4 {
          font-weight: 600;
          font-size: 36px;
          line-height: 54px;
          color: #fff;
        }
        p {
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
      }
      .right_text_card {
        h3 {
          font-weight: 600;
          font-size: 65.3684px;
          line-height: 79px;
          color: #fff;
        }
      }
    }
  }
}
.PhysicalWellbeing_sider {
  .img_slider {
    img {
      border-radius: 16px 16px 0px 0px;
    }
  }
  .down_text {
    background-color: #fff;
    border-radius: 0px 0px 16px 16px;
    height: 120px;
    display: flex;
    h2 {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      text-align: left;
      padding: 1rem;
    }
  }
}
.PhysicalWellbeing_sider_MV {
  box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.15);
  .img_slider {
    background-image: url('https://picsum.photos/200');
    width: 100%;
    height: 200px;
    background-size: cover;
    border-radius: 16px 16px 0px 0px;
  }
  .down_text {
    background-color: #fff;
    border-radius: 0px 0px 16px 16px;
    height: 100px;
    overflow: hidden;
    display: flex;
    h2 {
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      text-align: left;
      padding: 1rem;
    }
  }
}
.Plan_card_item_mobile {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 16px;
  background-color: #fff;
  width: 100%;
  height: min-content;
  padding: 2.5rem 2.5rem;
  h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #373535;
  }
  p {
    font-weight: normal;
    font-size: 15.3523px;
    line-height: 23px;
    color: #373535;
  }
  .join-btn-mv {
    background: #ffffff;
    border: 1.88943px solid #005e9e;
    box-shadow: 0px 3.41162px 13.6465px rgba(175, 175, 175, 0.25);
    border-radius: 45.3463px;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    padding: 0.25rem 1.5rem;
    color: #005e9e;
  }
}
.OtherSlider_img {
  img {
    width: 50px;
  }
  h2 {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #263238;
  }
}

.EmotionalMentalWellbeing_card_base {
  background-image: url(../images/EmotionalandMentalWellbeing.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 300px;
}
.EmotionalMentalWellbeing_card_base_MV {
  background-image: url(../images/EmotionalMentalWellbeing_card_base_MV.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 180px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-align: left;
  padding: 1rem 2rem;
  h2 {
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    p {
      font-weight: 600;
      font-size: 24px;
      color: #fff;
      margin-bottom: 0px;
    }
    button {
      background: #ffffff;
      border-radius: 26px;
      padding: 0.5rem 0.75rem;
      outline: none;
      border-style: none;
      color: #005e9e;
      font-weight: 600;
      font-size: 14px;
    }
  }
}

.healthscoreMV {
  align-items: center;
  .bg_healthscore {
    background-image: url(../images/HS_bg_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    .top-text {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      h2 {
        font-weight: bold;
        font-size: 32px;
        color: #16f6ff;
        margin: 0;
        padding-right: 1rem;
      }
      .rightline {
        width: 1px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.4);
      }
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        color: #ffffff;
        margin: 0;
      }
    }
    .mid-text {
      color: #fff;
      h2 {
        font-weight: bold;
        font-size: 21px;
        color: #ffffff;
        padding-bottom: 20px;
        border-bottom: 1px solid #fff;
      }
      p {
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
      }
    }
    .score_text {
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      .bs-text {
        display: flex;
        gap: 1rem;
      }
      p {
        font-size: 14px;
        line-height: 21px;
        margin: 0;
      }
      h2 {
        font-weight: bold;
        font-size: 24px;
      }
    }
    .scrore_btn {
      width: 80%;
      outline: none;
      border-style: none;
      background: #ffffff;
      border-radius: 26px;
      color: #2e98a4;
      font-weight: 600;
      font-size: 14px;
      padding: 0.5rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .mvhealthgoals {
    display: block;
  }
  .pchealthgoals {
    display: none;
  }
  .WB_headcard {
    display: none;
  }
  .base_card_We {
    padding: 0rem 1.5rem;
  }
  .PCHS_Right_card {
    display: none;
  }
  .MVhelthservices {
    display: block;
  }
  .pchealthgoals_pc {
    display: none;
  }
  .exclusivefeaturesPC {
    display: none;
  }
  .PhysicalWellbeingPC {
    display: none;
  }
}
