@import "../modules/grid";
@import "../modules/colors";
@import "../modules/card";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  .app-component {
    .app-router {
      .router-layout {
        .container {
          .wrapper {
            padding: 2% 5%;
            display: block;
            width: 100vw;
            min-height: calc(100vh - 10vh);
          }
        }
      }
    }
  }
}

iframe {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
